main {
	background: rgba(0, 0, 0, 0.7);
	max-width: 850px;
	margin: auto;
}

main section {
	padding: 50px;
}

#particles-js{
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: rgb(35, 39, 65);
	background-image: url('');
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}